* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
:root {
  --header-bg: #10375c;
}
/* ================ các thành phần dùng chung ======== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}
.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  cursor: pointer;
  transition: 0.25s;
}
.control__btn:hover {
  background: #2e80ce;
  color: #fff;
}
.control-icon--next {
  rotate: 180deg;
  /* rotate là dùng để xoay chiều, deg: độ */
}
/* ========== làm phần header ======================== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  /* Chiếm tối thiểu 100% khung nhìn */
}
.header-top {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
}
.action__log,
.navbar_link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar_link:hover,
.navbar_link--active {
  color: #fff;
  text-align: center;
  text-shadow: 1px 0 0 currentColor;
  align-items: center;
}
.navbar_link--active::before {
  position: relative;
  right: 8px;
  top: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.action__sign {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}
.action__log {
  margin-right: 7px;
}
/* ================== làm phần hero ============ */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
  /* Chiếm hết khoảng trống còn lại */
}
.hero__heading {
  max-width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
  /* điều chỉnh khoảng cách giữa các kí tự */
}
.hero__desc {
  max-width: 468px;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  display: flex;
  margin-top: 38px;
  align-items: center;
  column-gap: 38px;
}
.hero_phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
  margin-left: -6px;
}
/* ==================làm phần service ========== */
.service {
  padding: 170px 0;
  background: #fff;
}
.service__heading {
  text-align: center;
}
.service__desc {
  text-align: center;
  margin: 18px auto 0;
}
.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service-item {
  display: flex;
  padding: 21px;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}
.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}
.service-item_heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  margin-top: 55px;
}
/* ================== làm phần work ====================== */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.work-item {
  border-radius: 4px;
  background: #fff;
  padding: 43px 42px;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}
.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
  /* biển đổi theo nhiều cách khác nhau như dịch chuyển, xoay, 
  phóng to, thu nhỏ, nghiêng hoặc kết hợp nhiều hiệu ứng khác nhau */
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.work-item__desc {
  max-width: 254px;
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item:hover .work-item__more {
  color: #2e80ce;
  font-weight: 500;
}
/*================= làm phần about============ */
.about {
  margin-top: 85px;
  padding: 85px 0px 206px;
}
.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_media {
  width: 49%;
}
.about__img {
  position: relative;
}
.about__img--big {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
  object-fit: cover;
}
.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.about-content {
  width: 40%;
  margin-top: 82px;
}
.about-content__btn {
  margin-top: 38px;
  width: 205px;
  height: 60px;
}
/* ================== làm phần team ================ */
.team {
  padding: 85px 0;
}
.team-header {
  text-align: center;
  margin: 0 auto;
}
.team__cta {
  margin-top: 38px;
  width: 205px;
  height: 60px;
}
.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
.team-item__thumb {
  max-width: 100%;
  height: 290px;
  border-radius: 6px;
  object-fit: cover;
  display: flex;
  transition: 0.3s;
}
.team-item__img-bg {
  padding-top: 28px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.team-item:hover .team-item__thumb {
  transform: scale(1.2);
  /* dùng để phóng to bức ảnh */
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team__control {
  margin-top: 38px;
  justify-content: center;
}
/* ================= làm phần mobile ============ */
.install__inner {
  margin: 180px 0 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}
.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  max-width: 586px;
}
.install__heading {
  color: #fff;
  max-width: 489px;
}
.install__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.install_row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}
/* ========================= làm phần event ============== */
.event__tag {
  padding: 85px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.event__tag--content {
  width: 40%;
}
.event__heading {
  max-width: 470px;
}
.event__more {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  /* gạch chân */
  text-underline-offset: 5px;
  /* khoảng cách dấu gạch chân */
}
.event__control {
  margin-top: 28px;
}
.event__tag--list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.event-item {
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  max-width: 270px;
  overflow: hidden;
  transition: 0.3s;
}
.event-item:hover {
  border-color: transparent;
  /* trong suốt viền */
  box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}
.event-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  transition: 0.3s;
}
.event-item:hover .event-item__thumb {
  transform: scale(1.1);
}
.event-item__wrap {
  height: 172px;
  overflow: hidden;
}
.event-item__body {
  padding: 18px 22px;
}
.event-item__heading {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}
.event-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.event-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
.event-item__more:hover {
  color: #2e80ce;
}
/* ==================== làm phần appoinment =========== */
.appoinment__inner {
  margin: 85px 0;
  padding: 100px 178px;
  background-color: #f6fbff;
  text-align: center;
}
.appoinment__heading::after {
  content: "";
  display: block;
  background: #2e80ce;
  width: 136px;
  height: 2px;
  margin: 18px auto 0;
}
.appoinment__desc {
  margin: 18px auto 38px;
  width: 617px;
  color: #575f66;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
